<!doctype html>
<head>
    <title>HS Code Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/> -->
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Search by HS Code</h1>            
          </div>
        <form method="post" action="/">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Search by HS Code</label>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="query" name="query" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Search</button>
                </div>            
            </div>
        </form>
        
        {% if results %}
        <h2>Results for {{user_query}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>HS Heading</th>
                    <th>HS Code</th>
                    <th>Sub-Category</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>Gen Duty</th>
                    <th>VAT</th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td>{{ item['HS Hdg Name'] }}</td>
                    <td>{{ item['HS Code'] }}</td>
                    <td>{{ item['Prefix'] }}</td>
                    <td>{{ item['Description'] }}</td>
                    <td>{{ item['Unit'] }}</td>
                    <td>{{ item['Gen Duty'] }}</td>
                    <td>{{ item['VAT'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

     </main>      
   </body>
</html>