<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <ul class="navbar-nav ">
          <li class="nav-item "><a class="nav-link" href="{{ url_for('hscode_search')}}">Search by HS Code</a> </li>    
          <li class="nav-item "><a class="nav-link" href="{{ url_for('sccode_search')}}">Search by SC Code</a></li>
          <li class="nav-item"><a  class="nav-link" href="{{ url_for('vector_store_search')}}">Line Item Search</a></li>   
          <li class="nav-item "><a class="nav-link" href="{{ url_for('chatbot')}}">RAG (Beta)</a></li>      
          <li class="nav-item "><a class="nav-link" href="{{ url_for('file_management')}}">File Management</a></li>  
          <li class="nav-item "><a class="nav-link" href="{{ url_for('print_logs')}}">Logs</a></li>   
          <li class="nav-item "><a class="nav-link" href="{{ url_for('comparison')}}">Compare</a></li>  
          <li class="nav-item active"><a style="color: black;" class="nav-link" href="{{ url_for('view_jobs')}}">Jobs</a></li>
        </ul>       
    </nav>

    <h3 class="ui header">Active Jobs</h3>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Function</th>
                <th>Description</th>
                <th>Progress</th>
            </tr>
        </thead>

        {% if activeJobs %}
        <tbody>
            {% for job in activeJobs %}
            <tr>
                <td>{{ job['StartTime'] }}</td>
                <td>{{ job['Function'] }}</td>
                <td>{{ job['Description'] }}</td>
                <td>{{ job['Progress'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <h3 class="ui header">Completed Jobs</h3>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Function</th>
                <th>Description</th>
                <th>Progress</th>
                <th>End Time</th>
            </tr>
        </thead>

        {% if completedJobs %}
        <tbody>
            {% for job in completedJobs %}
            <tr>
                <td>{{ job['StartTime'] }}</td>
                <td>{{ job['Function'] }}</td>
                <td>{{ job['Description'] }}</td>
                <td>{{ job['Progress'] }}</td>
                <td>{{ job['EndTime'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</body>