<!doctype html>
<head>
    <title>Line Item Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <ul class="navbar-nav ">
          <li class="nav-item "><a class="nav-link" href="{{ url_for('hscode_search')}}">Search by HS Code</a> </li>    
          <li class="nav-item "><a class="nav-link" href="{{ url_for('sccode_search')}}">Search by SC Code</a></li>
          <li class="nav-item active"><a style="color: black;" class="nav-link" href="{{ url_for('vector_store_search')}}">Line Item Search</a></li>   
          <li class="nav-item "><a class="nav-link" href="{{ url_for('chatbot')}}">RAG (Beta)</a></li>      
          <li class="nav-item"><a class="nav-link" href="{{ url_for('file_management')}}">File Management</a></li>  
          <li class="nav-item "><a class="nav-link" href="{{ url_for('print_logs')}}">Logs</a></li>  
        </ul>       
    </nav>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/> -->
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Line Item Search</h1>      
          </div>
        <form method="post" action="{{url_for('vector_store_search')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Enter Query</label><br>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <label class="form-label fw-bold">Releases:</label>
                {% if release_options %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <!-- Checkboxes for multiple selection -->
                    {% for option in release_options %}
                    <div>
                        <input type="checkbox" id="option1" name="options" value="{{ option }}">
                        <label for="option1">{{ option }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="query" name="query" style="max-width: 256px;">
                </div>       
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Search</button>
                </div>            
            </div>
        </form>
        
        {% if results %}
        <h2>Results for {{user_query}}</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Release</th>
                    <th>HS Hdg Name</th>
                    <th>HS Code</th>
                    <td>SC Code</td>
                    <th>Prefix</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>ICL/SLSI</th>
                    <th colspan="10">Preferential Duty</th>
                    <th>Gen Duty</th>
                    <th>VAT</th>
                    <th colspan="2">PAL</th>
                    <th colspan="2">Cess</th>
                    <th>Excise (SPD)</th>
                    <th>SSCL</th>
                    <th>SCL</th>
                    <th>PDF</th>
                </tr>
                 <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>AP</th>
                    <th>AD</th>
                    <th>BN</th>
                    <th>GT</th>
                    <th>IN</th>
                    <th>PK</th>
                    <th>SA</th>
                    <th>SF</th>
                    <th>SD</th>
                    <th>SG</th>
                    <th></th>
                    <th></th>
                    <th>Gen</th>
                    <th>SG</th>
                    <th>Gen</th>
                    <th>SG</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[0]['Release'] }}</td>
                    <td>{{ item[0]['HS Hdg Name'] }}</td>
                    <td>{{ item[0]['HS Code'] }}</td>
                    <td>{{ item[0]['SC Code'] }}</td>
                    <td>{{ item[0]['Prefix'] }}</td>
                    <td>{{ item[0]['Description'] }}</td>
                    <td>{{ item[0]['Unit'] }}</td>
                    <td>{{ item[0]['ICL/SLSI'] }}</td>
                    <td>{{ item[0]['Preferential Duty_AP'] }}</td>
                    <td>{{ item[0]['Preferential Duty_AD'] }}</td>
                    <td>{{ item[0]['Preferential Duty_BN'] }}</td>
                    <td>{{ item[0]['Preferential Duty_GT'] }}</td>
                    <td>{{ item[0]['Preferential Duty_IN'] }}</td>
                    <td>{{ item[0]['Preferential Duty_PK'] }}</td>
                    <td>{{ item[0]['Preferential Duty_SA'] }}</td>
                    <td>{{ item[0]['Preferential Duty_SF'] }}</td>
                    <td>{{ item[0]['Preferential Duty_SD'] }}</td>
                    <td>{{ item[0]['Preferential Duty_SG'] }}</td>
                    <td>{{ item[0]['Gen Duty'] }}</td>
                    <td>{{ item[0]['VAT'] }}</td>
                    <td>{{ item[0]['PAL_Gen'] }}</td>
                    <td>{{ item[0]['PAL_SG'] }}</td>
                    <td>{{ item[0]['Cess_GEN'] }}</td>
                    <td>{{ item[0]['Cess_SG'] }}</td>
                    <td>{{ item[0]['Excise SPG'] }}</td>
                    <td>{{ item[0]['SSCL'] }}</td>
                    <td>{{ item[0]['SCL'] }}</td>
                    <td><span style="color: blue; text-decoration: underline; cursor: pointer;" onclick="pdfClicked(&#39;{{ item[0]['Chapter Number'] }}&#39;, 'pdf')">{{ item[0]['Chapter Number'] }}.pdf</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

     </main>  
     <script>
        function pdfClicked(cellValue, fileType) {
            // Trigger a POST request to the Flask backend
            cellValue = cellValue + '.pdf'
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    const downloadUrl = URL.createObjectURL(xhttp.response);
                    const responseHeaders = xhttp.getAllResponseHeaders()
                    var filename = responseHeaders.split('filename=')[1]
                    filename = filename.split('\n')[0]
                    filename = filename.split('\r')[0] // this stupid thing wasted 10 minutes of my time
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";
                    a.href = downloadUrl;
                    a.download = filename;
                    a.click();
                }
            };
            xhttp.open("POST", "/file_clicked", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.responseType = "blob";
            xhttp.send(JSON.stringify({cell_value: cellValue, file_type: fileType}));
        }
    </script>    
   </body>
</html>